rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isSignedIn() {
      return request.auth != null;
    }

    match /users/{userId} {
      allow read, write: if isSignedIn() && request.auth.uid == userId;
    }

    match /lists/{listId} {
      allow read: if isSignedIn() && request.auth.uid in resource.data.memberUids;
      allow create: if isSignedIn();
      allow update, delete: if isSignedIn() && request.auth.uid == resource.data.ownerUid;

      match /items/{itemId} {
        allow read: if isSignedIn() && request.auth.uid in get(/databases/$(database)/documents/lists/$(listId)).data.memberUids;
        allow create, update, delete: if isSignedIn() && request.auth.uid in get(/databases/$(database)/documents/lists/$(listId)).data.memberUids;
      }
    }

    match /invites/{token} {
      allow read: if isSignedIn();
      allow create: if isSignedIn();
      allow update: if isSignedIn();
      allow delete: if isSignedIn();
    }
  }
}
